.chat-main
  .chat-header
    .group-info
      .group-info__name
        = @group.name
      .group-info__members
        Member：
        - @group.users.ids.each do |group_id|
          =User.find(group_id).name
    .group-edit__btn
      = link_to edit_group_path(@group.id) do
        Edit
        %span<>
  .message-list
    = render @messages
  .message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
      .input-box
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'input-box__fileupload',display: "none"
      = f.submit 'Send', class: 'submit-btn'